/* @font-face {
    font-family: Bubblegum Sans;
    src:
        url('/fonts/bubblegumsans-regular-webfont.woff2') format('woff2'),
        url('/fonts/bubblegumsans-regular-webfont.woff') format('woff');
} */

:root {
    --primaryRed: #9c3030;
    --primaryBtnBckgndRed: #8a2424;
    --primaryOrange: #c55f14;
    --uiBorderCream: #bfb38b;
    --uiBorderInnerCream: #e3ded1;
    --uiBodyText: #664b2e;

    /* --headerFont: 'Allison', system-ui; */
    --headerFont: 'DM Serif Display', system-ui;
    --subHeaderFont: 'Aboreto', system-ui;

    --ziAboveCanvas: 9999999999999999999;
    --arAboveCanvas: 99999999999999999999;
}

* {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

html,
body,
#root {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: hsl(55, 45%, 86%);
    /* -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    overflow: hidden;
}

#root {
    overflow: hidden;
    position: relative;
    z-index: 1;
}

body {
    position: fixed;
    overflow: hidden;
    overscroll-behavior-y: none;
    font-family: helvetica neue, helvetica, arial, sans-serif;
    color: black;
    -webkit-font-smoothing: antialiased;

    font-family: 'Bubblegum Sans', sans-serif;
    letter-spacing: 0.25px;
    cursor: default;
}

.r3fCanvas {
    touch-action: none;
    transition: all ease 0.4s;
}

#root > div.leva-c-kWgxhW,
div.perf,
.perf {
    z-index: 999999999999999999;
}

button {
    cursor: pointer;
    font-family: inherit;
}

a {
    display: inline-block;
    color: var(--primaryOrange);
    margin-top: 4px;
}
a:hover {
    padding: 0 3px;
    color: white;
    background: var(--primaryOrange);
    outline: 3px solid var(--primaryOrange);
    border-radius: 4px;
}

/* h1 {
    margin: 0;
    line-height: 0;
    text-transform: capitalize;
} */

/*
the ScrollControls div created to scroll the page
now the intro is over, remove the ability to scroll the page
*/
.r3fCanvas > div > div {
    scrollbar-width: none;
}
.introEnded .r3fCanvas > div > div {
    overflow: hidden !important;
}

.skyGradient {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 75%;
    height: 60%;
    background-image: linear-gradient(
        0deg,
        hsl(56deg 44% 86%) 0%,
        hsl(48deg 53% 86%) 10%,
        hsl(42deg 62% 86%) 20%,
        hsl(37deg 71% 86%) 30%,
        hsl(33deg 79% 86%) 40%,
        hsl(29deg 88% 86%) 50%,
        hsl(48deg 50% 83%) 60%,
        hsl(87deg 38% 84%) 70%,
        hsl(141deg 41% 85%) 80%,
        hsl(170deg 48% 84%) 90%,
        hsl(188deg 56% 85%) 100%
    );
    /* background-image: none; */
    pointer-events: none;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
}

.introTitle1,
.introTitle2,
.introTitle3 {
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    user-select: none;
    z-index: var(--ziAboveCanvas);

    text-align: center;
    opacity: 0; /* gsap sets back to 1 */

    /* left: 50%; */
    transform: translateX(-50%);

    @media screen and (min-width: 1024px) {
        transform: none;
    }

    h1 {
        margin: 0 0 5px;
        color: #9b6a00;
        font-family: var(--headerFont);
        font-weight: normal;
        text-transform: uppercase;
        font-size: 2.25rem;
        line-height: 2.6rem;

        @media screen and (min-width: 1024px) {
            margin: 0 0 10px;
            font-size: 6rem;
            line-height: 5rem;
        }

        span {
            font-size: 3.5rem;
            line-height: 2.6rem;

            @media screen and (min-width: 1024px) {
                font-size: 9rem;
                line-height: 8.5rem;
            }
        }
    }

    p {
        margin: 0;
        font-family: var(--subHeaderFont);
        font-weight: bold;
        font-size: 1.5rem;
        line-height: 2rem;
        color: #000;

        @media screen and (min-width: 1024px) {
            font-size: 1.8rem;
            line-height: 2.5rem;
        }
    }
}
.introTitle1 {
    bottom: 6.5%;
    opacity: 0;

    @media screen and (min-width: 1024px) {
        bottom: auto;
        top: 50%;
    }

    h1 {
        width: 330px;

        @media screen and (min-width: 1024px) {
            width: 850px;
        }
    }
    p {
        width: 330px;

        @media screen and (min-width: 1024px) {
            width: 650px;
        }
    }
}
.introTitle2 {
    bottom: 8%;
    opacity: 0;

    @media screen and (min-width: 1024px) {
        bottom: auto;
        top: 48%;
    }

    h1 {
        width: 330px;
        font-size: 3rem;
        line-height: 3rem;

        @media screen and (min-width: 1024px) {
            font-size: 6rem;
            line-height: 5.25rem;
            width: 700px;
        }
    }
    p {
        width: 330px;

        @media screen and (min-width: 1024px) {
            width: 675px;
        }
    }
}
.introTitle3 {
    top: 0;
    left: 50%;
    opacity: 0;
    transform: translateX(-50%);

    h1 {
        width: 300px;

        @media screen and (min-width: 1024px) {
            width: 900px;
        }
    }
    p {
        width: 330px;

        @media screen and (min-width: 1024px) {
            width: 700px;
        }
    }
}
.introScrollMsg {
    position: relative;
    top: 50px; /* gsap sets back to 0 */
    pointer-events: none;
    user-select: none;
    z-index: var(--ziAboveCanvas);

    margin: 30px 0 0;
    padding: 15px 30px;
    background-color: hsla(0, 0%, 100%, 0.4);

    text-transform: uppercase;
    font-weight: bold;
    font-family: var(--subHeaderFont);
    font-size: 1.1rem;
    color: #5a3e00;
    letter-spacing: 1px;

    border-radius: 100px;
    opacity: 0; /* gsap sets back to 1 */
}

.configStageNavButtons {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    transition: all ease 0.5s;

    .introEnded & {
        opacity: 1;
        bottom: 10px;
        z-index: var(--ziAboveCanvas);
    }

    @media screen and (min-width: 1024px) {
        bottom: 30px;
    }

    > button {
        margin: 0 4px 8px;
        padding: 9px 16px;
        border-radius: 8px;
        border: 2px solid gray;
        user-select: none;
        font-weight: bold;
        font-size: 15px;

        .introEnded & {
            pointer-events: all;
            z-index: var(--ziAboveCanvas);
        }
    }

    h1 {
        margin-top: 0;
    }
}

.letterForm {
    width: 370px;
    /* height: 300px; */
    padding: 50px 50px;
    background-color: #e7dfca;
    color: #634308;
    user-select: none;
    text-align: center;
    backface-visibility: hidden;

    h1 {
        margin: 0 0 10px;
    }

    p {
        margin: 0 0 30px;
        line-height: 22px;
    }

    /* .form {
        width: 80%;
        margin: auto;
    } */

    textarea,
    input {
        display: block;
        width: 100%;
        margin: 14px 0;
        padding: 10px;
        /* border: 1px solid gray; */
        border: none;
        border-radius: 4px;
        background-color: #fffbf1;
        font-family: Arial, Helvetica, sans-serif;
        color: #7c6740;

        &::placeholder {
            color: #7c6740;
        }
    }

    button {
        margin: 5px 0 0;
        padding: 10px 30px;
        border: none;
        border-radius: 100px;
        background-color: #a0780b;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: bold;
    }
}

.dreiHtml {
    pointer-events: none;
}

.tryItOnWindow {
    position: relative;
    display: flex;
    width: 350px;
    height: 650px;
    padding: 50px 30px 0;
    color: #634308;
    user-select: none;
    text-align: center;

    @media screen and (min-width: 1024px) {
        align-items: center;
        width: 1000px;
        height: 650px;
        padding: 90px 110px;
    }

    .leftCol {
        display: flex;
        flex-direction: column;
        height: calc(100% - 50px);

        @media screen and (min-width: 1024px) {
            display: block;
            width: 50%;
            height: auto;
        }
    }

    h1 {
        margin: 0 0 5px;
        font-size: 4rem;

        @media screen and (min-width: 1024px) {
            margin: 0 0 10px;
            font-size: 5rem;
        }
    }

    p {
        flex: 1;
        font-size: 1.25rem;
        font-weight: bold;
        line-height: 2rem;
        text-transform: uppercase;

        @media screen and (min-width: 1024px) {
            font-weight: normal;
        }
    }

    img {
        width: 100%;
        height: 80%;
    }

    button {
        /* display: block; */
        margin: 20px 0 0;
        padding: 15px 30px;
        border: none;
        border-radius: 10px;
        color: white;
        font-size: 1.75rem;
        text-transform: uppercase;
        margin: 15px 0 10px;

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }
    &.isTryonStage button {
        pointer-events: all;
    }

    /* button {
        position: absolute;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%);
        padding: 10px 20px;
        pointer-events: all;
    } */

    .phoneShadow {
        display: none;

        @media screen and (min-width: 1024px) {
            display: block;
            position: absolute;
            bottom: 18px;
            right: 225px;

            width: 100px;
            height: 100px;
            background: radial-gradient(
                circle,
                rgba(0, 0, 0, 1) 0%,
                rgba(0, 0, 0, 0) 70%
            );

            opacity: 0;
            transform: scale(3.75, 0.3);
        }
    }
}

.ar_button {
    top: -45% !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 0 !important;
    height: 0 !important;
}

/* .ar_button {
    top: 48% !important;
    bottom: auto !important;
    z-index: var(--arAboveCanvas) !important;

    margin: 225px 0 0 !important;
    padding: 0 !important;
    background: none !important;
    border: none !important;
}

.ar_buttonContent {
    padding: 15px 30px !important;
    border: none !important;
    border-radius: 10px !important;
    font-size: 1.2rem !important;
    text-transform: uppercase;
} */
